<!DOCTYPE html>
<html>
<head>
    <title>Mashup Generator</title>
</head>
<body>
    <h2>Create Mashup</h2>
    <form method="POST" action="/create">
        Singer Name: <input type="text" name="singer" required><br><br>
        Number of Videos (>10): <input type="number" name="videos" required><br><br>
        Duration in seconds (>20): <input type="number" name="duration" required><br><br>
        Email: <input type="email" name="email" required><br><br>
        <input type="submit" value="Generate Mashup">
    </form>
</body>
</html>
